---
type Props = {
  href: string;
  target?: string;
  ja?: string;
  en?: string;
};

const { href, target, ja = "", en = "" } = Astro.props;
---

<a class="a" href={href} target={target ?? ""} rel="noopener noreferrer">
  <slot />
</a>

<style>
  .a {
    border: currentColor solid 1px;
    border-radius: 8px;
    color: inherit;
    display: block;
    padding: 1em 1.5em;
    position: relative;
  }

  .a::after {
    border-bottom: currentColor 1px solid;
    border-right: currentColor 1px solid;
    bottom: 1em;
    content: "";
    height: 1em;
    right: 1.5em;
    position: absolute;
    transform: skewX(50deg);
    width: 25%;
  }
</style>
