---
type Props = {
  letters: string;
};

const { letters } = Astro.props;
---

<span class="letters">
  {letters.split("").map((letter) => <span class="square">{letter}</span>)}
</span>

<style>
  .letters {
    display: inline-flex;
    gap: 0.2em;
  }

  .square {
    background: var(--color-background);
    border-radius: 2px;
    color: var(--color-text);
    display: inline-block;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
  }
</style>
