---
type Props = {
  caption?: string;
  rows: { th: string; td: string }[];
};

const { caption, rows } = Astro.props;
---

<table class="table">
  {caption && <caption class="caption">{caption}</caption>}

  <tbody>
    {
      rows.map(({ th, td }) => (
        <tr>
          <th class="th">{th}</th>
          <td class="td">{td}</td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  .table {
    border-collapse: collapse;
    margin: 1em auto;
    table-layout: fixed;
    width: 100%;
  }

  .caption {
    font-size: 110%;
    font-weight: bold;
    margin: 0 0 0.5em;
    text-align: left;
  }

  .th {
    font-family: "Courier New", monospace;
    letter-spacing: -0.05em;
    padding: 0.25em 0.5em;
    text-align: right;
    width: 3em;
  }

  .td {
    padding: 0.25em;
  }
</style>
