---
import { Icon } from "astro-icon/components";
---

<footer class="footer">
  <a class="a" href="/2025/05/">
    <Icon name="mdi:arrow-back-circle" />
    <span>Back</span>
  </a>
</footer>

<style>
  .footer {
    margin: 10vh 0 0;
    padding: 0.5em;
  }

  .a {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
  }

  .a [data-icon] {
    height: 2em;
    padding: 0.5em;
    vertical-align: top;
    width: 2em;
  }
</style>
