---
import { Icon } from "astro-icon/components";
import Button from "@/components/shared/Button.astro";
---

<header class="header">
  <h1 class="h1">
    <a href="/2025/05/">
      <small>2025 第56回</small><br />
      JBBF全国青年フェローシップキャンプ
    </a>
  </h1>

  <Button>
    <span class="menu-button">
      <Icon name="mdi:menu" />
    </span>
  </Button>
</header>

<style>
  .header {
    align-items: start;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    padding: 1em 0.5em 1em 1.5em;
  }

  .h1 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
  }

  .menu-button [data-icon] {
    height: 1.5em;
    padding: 0.5em;
    vertical-align: top;
    width: 1.5em;
  }
</style>

<script>
  document.querySelector(".menu-button")?.addEventListener("click", () => {
    window.document.body.classList.toggle("show-menu");
  });
</script>
