---
import { Icon } from "astro-icon/components";
import Button from "@/components/shared/Button.astro";
---

<div class="menu">
  <div class="top">
    <Button>
      <span class="close-button">
        <Icon name="mdi:close" />
      </span>
    </Button>
  </div>

  <nav class="nav">
    <ul class="ul">
      <li class="li">
        <a href="/2025/05/overview/" class="a">
          <Icon name="mdi:file-document-box-outline" />
          <div>
            <div class="en">Event Overview</div>
            <div class="ja">概要</div>
          </div>
        </a>
      </li>

      <li class="li">
        <a href="/2025/05/speaker/" class="a">
          <Icon name="mdi:lectern" />
          <div>
            <div class="en">Speaker Introduction</div>
            <div class="ja">講師紹介</div>
          </div>
        </a>
      </li>

      <li class="li">
        <a href="/2025/05/venueclip/" class="a">
          <Icon name="mdi:hoop-house" />
          <div>
            <div class="en">Venue Information</div>
            <div class="ja">施設紹介</div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>

<style>
  .menu {
    background: var(--color-text);
    color: transparent;
    inset: 0;
    padding: 1em 0.5em;
    position: fixed;
    transform: translateX(-100%);
    transition:
      color 0.4s,
      transform 0.4s;
  }

  body.show-menu {
    overflow: hidden;
  }

  body.show-menu .menu {
    color: var(--color-background);
    text-shadow: 0 0 0.5em #ffffff80;
    transform: translateX(0);
    transition:
      color 0.4s 0.2s,
      transform 0.4s;
  }

  .top {
    display: flex;
    justify-content: flex-end;
  }

  .top [data-icon] {
    height: 1.5em;
    padding: 0.5em;
    width: 1.5em;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .ul {
    list-style: none;
    margin: auto;
    max-width: 80%;
    padding: 1.5em;
  }

  .li {
    margin: 3em 0;
  }

  .a {
    align-items: center;
    display: flex;
    gap: 1em;
  }

  .a [data-icon] {
    height: 2.5em;
    width: 2.5em;
  }

  .en {
    font-family: var(--font-serif);
    font-size: 120%;
  }

  .ja {
    letter-spacing: 0.05em;
  }
</style>

<script>
  document.querySelector(".close-button")?.addEventListener("click", () => {
    window.document.body.classList.toggle("show-menu");
  });
</script>
