---
import { Icon } from "astro-icon/components";
import Button from "@/components/shared/Button.astro";
---

<div class="menu">
  <div class="top">
    <span class="close-button">
      <Button>
        <Icon name="mdi:close" />
      </Button>
    </span>
  </div>

  <nav class="nav">
    <ul class="ul">
      <li class="li">
        <a href="/2025/05/overview/" class="a">
          <Icon name="mdi:file-document-box-outline" />
          <div>
            <div class="en">Event Overview</div>
            <div class="ja">概要</div>
          </div>
        </a>
      </li>

      <li class="li">
        <a href="/2025/05/speaker/" class="a">
          <Icon name="mdi:lectern" />
          <div>
            <div class="en">Speaker Introduction</div>
            <div class="ja">講師紹介</div>
          </div>
        </a>
      </li>

      <li class="li">
        <a href="/2025/05/venue/" class="a">
          <Icon name="mdi:hoop-house" />
          <div>
            <div class="en">Venue Information</div>
            <div class="ja">施設紹介</div>
          </div>
        </a>
      </li>

      <li class="li">
        <a href="/2025/05/access/" class="a">
          <Icon name="mdi:transportation" />
          <div>
            <div class="en">Access</div>
            <div class="ja">アクセス</div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>

<style>
  .menu {
    background: var(--color-text);
    color: var(--color-text);
    inset: 0;
    padding: 0.5em;
    position: fixed;
    transform: translateX(-100%);
    transition:
      color 0.8s,
      transform 0.4s;
    z-index: 11;
  }

  body.show-menu {
    overflow: hidden;
  }

  body.show-menu .menu {
    color: var(--color-background);
    text-shadow: 0 0 0.5em #ffffff80;
    transform: translateX(0);
  }

  .top {
    display: flex;
    justify-content: flex-end;
  }

  .close-button [data-icon] {
    font-size: 150%;
    padding: 0.5em;
    vertical-align: top;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .ul {
    list-style: none;
    margin: auto;
    max-width: 80%;
    padding: 1.5em;
  }

  .li {
    margin: 3em 0;
    transform: translateX(-100%);
    transition: ease-out 0.3s;
  }

  body.show-menu .li {
    transform: translateX(0);
  }

  .li:nth-child(1) {
    transition-delay: 0.1s;
  }

  .li:nth-child(2) {
    transition-delay: 0.2s;
  }

  .li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .li:nth-child(4) {
    --n: 4;
    transition-delay: 0.4s;
  }

  .a {
    align-items: center;
    display: flex;
    gap: 1em;
    line-height: 1.2;
  }

  .a [data-icon] {
    height: 2em;
    width: 2em;
  }

  .en {
    font-family: var(--font-serif);
  }

  .ja {
    letter-spacing: 0.1em;
    margin: 0.1em 0 0;
  }
</style>

<script>
  document.querySelector(".close-button")?.addEventListener("click", () => {
    window.document.body.classList.toggle("show-menu");
  });
</script>
