---
import { Icon } from "astro-icon/components";
import Button from "@/components/shared/Button.astro";
import navList from "@/assets/2025/05/navigation.json";
---

<div class="menu">
  <div class="top">
    <span class="close-button">
      <Button>
        <Icon name="mdi:close" />
      </Button>
    </span>
  </div>

  <nav class="nav">
    <ul class="ul">
      {
        navList.map(({ href, icon, en, ja }) => (
          <li class="li">
            <a href={href} class="a">
              <Icon name={icon} />
              <div>
                <div class="en">{en}</div>
                <div class="ja">{ja}</div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  .menu {
    background: var(--color-text);
    color: var(--color-text);
    inset: 0;
    overflow: auto;
    padding: 0.5em;
    position: fixed;
    text-shadow: 0 0 0.5em #ffffff80;
    transform: translateX(-100%);
    transition: 0.4s;
    z-index: 11;
  }

  body.show-menu {
    overflow: hidden;
  }

  body.show-menu .menu {
    color: var(--color-background);
    transform: translateX(0);
  }

  .top {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
  }

  .close-button [data-icon] {
    font-size: 150%;
    padding: 0.5em;
    vertical-align: top;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .ul {
    list-style: none;
    padding: 1.5em;
  }

  .li {
    margin: 0 0 3em;
    transform: translateX(-100%);
    transition: ease-out 0.25s;
    transition-delay: calc(0.05s * var(--n, 0));
  }

  body.show-menu .li {
    transform: translateX(0);
  }

  .li:nth-child(1) {
    --n: 1;
  }

  .li:nth-child(2) {
    --n: 2;
  }

  .li:nth-child(3) {
    --n: 3;
  }

  .li:nth-child(4) {
    --n: 4;
  }

  .li:nth-child(5) {
    --n: 5;
  }

  .li:nth-child(6) {
    --n: 6;
  }

  .li:nth-child(7) {
    --n: 7;
  }

  .li:nth-child(8) {
    --n: 8;
  }

  .li:nth-child(9) {
    --n: 9;
  }

  .a {
    align-items: center;
    display: flex;
    gap: 1em;
    line-height: 1.2;
  }

  .a [data-icon] {
    height: 2em;
    width: 2em;
  }

  .en {
    font-family: var(--font-serif);
    font-size: 115%;
  }

  .ja {
    letter-spacing: 0.1em;
    margin: 0.1em 0 0;
  }
</style>

<script>
  document.querySelector(".close-button")?.addEventListener("click", () => {
    window.document.body.classList.toggle("show-menu");
  });
</script>
