:root {
  --brand: var(--blue-6);
  --surface: var(--gray-0);
  --text-1: var(--gray-9);
  --text-2: var(--gray-6);
  --line: var(--gray-4);
  --font-serif: "Times New Roman", "Hiragino Mincho Pro", "Yu Mincho", serif;
}

::selection {
  background: var(--brand);
  color: var(--surface);
  text-shadow: none;
}

html {
  font:
    100% / 1.5 -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    "Noto Sans JP",
    "Yu Gothic",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--gray-9);
  margin: 0;
}

.viewport {
  background: var(--surface);
  color: var(--text-1);
}

hr {
  border: 0;
  margin: 2em 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

p {
  font-feature-settings: "palt";
  line-height: 1.8;
  margin: 1em 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 85%;
}

input,
optgroup,
select,
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: inherit;
}
