<div class="loading">
  <svg width="40" height="40" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <circle
      class="spinner"
      cx="25"
      cy="25"
      r="20"
      fill="none"
      stroke-width="4"
      stroke-linecap="round"
      stroke-dasharray="31.415,31.415"
      transform="rotate(0 25 25)"
    >
      <animateTransform
        attributeName="transform"
        type="rotate"
        from="0 25 25"
        to="360 25 25"
        dur="1s"
        repeatCount="indefinite"></animateTransform>
    </circle>
  </svg>
</div>

<style>
  .loading {
    background: #00000080;
    backdrop-filter: blur(3px);
    display: grid;
    height: 100vh;
    inset: 0;
    place-content: center;
    position: fixed;
    z-index: 9999;
  }

  .spinner {
    stroke: #ccc;
  }
</style>
