<p class="note">
  <slot />
</p>

<style>
  .note {
    background: color-mix(in srgb, var(--gray-0) 12%, transparent);
    border-left: var(--pink-6) solid 2px;
    font-size: 85%;
    padding: 1em;
  }
</style>
