<h2 class="h2">
  <div class="en"><slot name="en" /></div>
  <div class="ja"><slot name="ja" /></div>
</h2>

<style>
  .h2 {
    color: var(--brand);
    font-size: 150%;
    margin: 40px 0;
    text-align: center;
  }

  .en {
    font-family: var(--font-serif);
    font-size: 120%;
    font-style: italic;
  }

  .ja {
    letter-spacing: 0.05em;
  }
</style>
