---
import { Icon } from "astro-icon/components";

type Props = {
  icon?: string;
};

const { icon } = Astro.props;
---

<h3 class="h3">
  {
    icon && (
      <span class="icon">
        <Icon name={icon} />
      </span>
    )
  }
  <span><slot /></span>
</h3>

<style>
  .h3 {
    align-items: center;
    border-bottom: 2px solid;
    border-image: linear-gradient(
        to right,
        var(--indigo-6) 0%,
        var(--indigo-6) 25%,
        var(--line) 25%,
        var(--line) 100%
      )
      1;
    display: flex;
    font-size: 120%;
    gap: 0.25em;
    margin: 2em 0 0;
    padding: 0 0 0.25em;
  }

  .icon {
    color: var(--indigo-6);
    display: flex;
    font-size: 125%;
  }
</style>
