---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import EventDetailTable from "@/components/EventDetailTable.astro";
import MapFrame from "@/components/MapFrame.astro";
import hero from "./hero.webp?url";

const title = "京葉地区一泊お泊まり会のご案内";
const eventDetails = {
  caption: "記",
  rows: [
    { th: "日時", td: "2024年9月22日(日) 〜 23日(月・祝)" },
    { th: "会場", td: "BumB 東京スポーツ文化館" },
    { th: "講師", td: "高木拓哉伝道師(滝山BBC)" },
    { th: "参加費", td: "22歳以下 7000円、一般 8000円" },
    { th: "申込期限", td: "2024年8月4日(日)" },
  ],
};
---

<Layout title={title}>
  <div class="welcome block">
    <header class="header">
      <h1>
        {title}<br />
        Keiyo Area Overnight Retreat Announcement
      </h1>
    </header>
    <div class="theme">
      <p>みことばによる交わり<br />- 使徒17:11 -</p>
      <p>Fellowship through the Word<br />- Acts 17:11 -</p>
    </div>
  </div>

  <main class="main">
    <section class="section">
      <p>
        主の御名を賛美いたします。京葉地区での一泊お泊まり会を開催いたしますことをご案内申し上げます。
      </p>
      <p>
        この集まりを通じて、信仰の仲間と共に深い交流を持ち、主の愛に満ちた時間を過ごすことができるよう願っています。信仰の深まりと互いの愛を育む素晴らしい時間を共有できることを楽しみにしております。どうぞご参加ください。主に在りて。
      </p>
      <hr />
      <p>
        We praise the name of the Lord. We are pleased to announce that we will
        be hosting an overnight retreat in the Keiyo area.
      </p>
      <p>
        Through this gathering, we hope to have deep fellowship with our fellow
        believers and spend a time filled with the love of the Lord. We look
        forward to sharing a wonderful time where our faith deepens and our
        mutual love grows. Please join us. In the Lord.
      </p>
    </section>

    <section class="section">
      <EventDetailTable {...eventDetails} />
    </section>

    <section class="section">
      <h2>スケジュール - Schedule</h2>
      <h3>プログラム詳細 - Program Details</h3>
      <h3>レクリエーション - Recreation</h3>
      <h3>テーマ別集会 - Thematic Meetings</h3>
    </section>

    <section class="section">
      <h2>申し込み - Application</h2>
      <h3>申し込み方法 - Application Method</h3>
      <p>
        次のリンクより、Webフォームからお申し込みください。お1人づつお申し込みをお願いいたします。
      </p>
      <p>
        Please apply using the web form from the following link. Please apply
        individually.
      </p>
      <ButtonLink
        href="https://form.nitonabbc.org/#/entry/2024/09"
        target="_blank"
      >
        参加申し込み - Apply Now
      </ButtonLink>

      <h3>申込期限 - Application Deadline</h3>
      <p>2024年8月4日(日)</p>
      <p>August 4, 2024 (Sunday)</p>
    </section>
  </main>

  <section class="section">
    <h2>その他の情報 - Additional Information</h2>
    <h3>アクセス - Access</h3>
    <MapFrame
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12968.426070133624!2d139.8299139!3d35.6497472!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018883c5dbb0623%3A0xc26f94a6ff247d1a!2zQnVtQiDmnbHkuqzjgrnjg53jg7zjg4TmlofljJbppKg!5e0!3m2!1sja!2sjp!4v1718553573811!5m2!1sja!2sjp"
    />

    <h3>持ち物 - What to Bring</h3>

    <h3>お問い合わせ - Contact Information</h3>
    <p>
      次のリンクより、LINE オープンチャットにてお問い合わせください。<br />
      <strong>参加コード：0333</strong>
      <ButtonLink
        href="https://line.me/ti/g2/WYr1mnNiAIT7mb_pyn2T5JoEMcZXyGUPchf7IA"
        target="_blank"
      >
        LINE オープンチャット
      </ButtonLink>
    </p>
  </section>
</Layout>

<footer class="footer"><small>担当：仁戸名聖書バプテスト教会</small></footer>

<style define:vars={{ hero: `url(${hero})` }}>
  .welcome {
    background: var(--hero) no-repeat center center / cover;
    font-family: "Times New Roman", "Hiragino Mincho Pro", "Yu Mincho", serif;
    text-align: center;
  }

  .header {
    color: white;
    margin: 10vh auto 0;
    text-shadow: 0 -1px darkgreen;
  }

  .theme {
    background: #ffffff40;
    border-radius: 50%;
    color: darkolivegreen;
    font-size: 125%;
    font-weight: bold;
    margin: auto;
    padding: 80px 40px;
    text-shadow: 0 -1px white;
  }

  h1 {
    font-size: 100%;
    margin: 0;
  }

  h2 {
    font-size: 100%;
    margin: 1em 0;
  }

  h3 {
    font-size: 100%;
    margin: 1em 0;
  }

  .main {
    padding: 5vh 0;
  }

  .section {
    line-height: 2;
    margin: auto;
    max-width: 600px;
    padding: 1.5em;
  }

  .footer {
    padding: 4em 0;
    text-align: center;
  }

  @media (max-width: 768px) {
    main {
      font-size: 14px;
    }
  }
</style>
