---
import BlockLink from "@/components/BlockLink.astro";
import logo from "../_assets/logo.webp";
import Footer from "../_components/Footer.astro";
import H2 from "../_components/H2.astro";
import Header from "../_components/Header.astro";
import Layout from "../_components/Layout.astro";
import Menu from "../_components/Menu.astro";
---

<Layout title="アルバム - 2025 第56回JBBF全国青年フェローシップキャンプ" favicon={logo.src}>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Album</span>
      <span slot="ja">アルバム</span>
    </H2>

    <section class="section">
      <ul class="link-list">
        <li class="link-item">
          <BlockLink href="video/">Video Library</BlockLink>
        </li>
        <li class="link-item">
          <BlockLink href="photo/">Photo Gallery</BlockLink>
        </li>
        <li class="link-item">
          <BlockLink href="share-photo/">Share Your Photo</BlockLink>
        </li>
      </ul>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style is:global>
  body .viewport {
    background: var(--color-text);
    color: var(--color-background);
  }
</style>

<style>
  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
    max-width: 400px;
    padding: 0 1.5em;
  }

  .link-list {
    font-family: var(--font-serif);
    font-size: 150%;
    list-style: none;
    padding: 0;
  }

  .link-item {
    margin: 1em 0;
    text-shadow: 0 0 0.5em currentColor;
  }

  .link-item:nth-child(3) {
    color: #e6d8b3;
  }
</style>

<script src="../_scripts/bubble.ts"></script>
