---
import logo from "../_assets/logo.webp";
import AlbumItem from "../_components/AlbumItem.astro";
import Footer from "../_components/Footer.astro";
import H2 from "../_components/H2.astro";
import Header from "../_components/Header.astro";
import Layout from "../_components/Layout.astro";
import Menu from "../_components/Menu.astro";
import Note from "../_components/Note.astro";
---

<Layout title="Photo Gallery - 2025 第56回JBBF全国青年フェローシップキャンプ" favicon={logo.src}>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Photo Gallery</span>
      <span slot="ja">フォトギャラリー</span>
    </H2>

    <section class="section">
      <div class="note">
        <Note>
          こちらのページのコンテンツは、教会内での共有を目的としております。SNSなど外部へのリンク共有や動画・写真の投稿はご遠慮ください。
        </Note>
      </div>

      <AlbumItem />
    </section>
  </main>

  <Footer href="/2025/05/album/" />
  <Menu />
</Layout>

<style is:global>
  body .viewport {
    background: var(--color-text);
    color: var(--color-background);
  }
</style>

<style>
  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
  }

  .note {
    margin: 0 auto 2em;
    max-width: 600px;
    padding: 0 1em;
  }
</style>
