---
import Layout from "@/layouts/Layout.astro";
import AlbumItem from "@/components/2025/05/AlbumItem.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import logo from "@/assets/2025/05/logo.webp";
import Note from "@/components/2025/05/Note.astro";
---

<Layout
  title="Photo Gallery - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Photo Gallery</span>
      <span slot="ja">フォトギャラリー</span>
    </H2>

    <section class="section">
      <div class="note">
        <Note>
          こちらのページのコンテンツは、教会内での共有を目的としております。SNSなど外部へのリンク共有や動画・写真の投稿はご遠慮ください。
        </Note>
      </div>

      <AlbumItem type="photo" />
    </section>
  </main>

  <Footer href="/2025/05/album/" />
  <Menu />
</Layout>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
    max-width: 900px;
    padding: 0 1em;
  }

  .note {
    margin: 0 auto 2em;
    max-width: 600px;
  }
</style>

<script src="../../../../scripts/bubble.ts"></script>
