<template>
  <style>
    @keyframes bounce {
      0%,
      100% {
        background: var(--color-primary);
        transform: scale(1, 0.9) translateY(0);
      }
      40% {
        background: var(--color-accent);
        transform: scale(1) translateY(-200%);
      }
    }

    div {
      align-items: center;
      backdrop-filter: blur(2px);
      background: #00000080;
      display: flex;
      inset: 0;
      justify-content: center;
      position: fixed;
      z-index: 1111;
    }

    span {
      animation: bounce 1s infinite;
      border-radius: 50%;
      height: 24px;
      width: 24px;
    }
  </style>

  <div>
    <span></span>
  </div>
</template>
