---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import H3 from "@/components/2025/05/H3.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import MapFrame from "@/components/shared/MapFrame.astro";
import logo from "@/assets/2025/05/logo.webp";
---

<Layout
  title="アクセス - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Access</span>
      <span slot="ja">アクセス</span>
    </H2>

    <section class="section">
      <H3>
        <Icon name="mdi:routes" />
        <span>ルート</span>
      </H3>
      <p>
        高速バス、お車、電車、新幹線など、様々な交通手段でアクセス可能です。詳細は施設の
        Web サイトをご確認ください。
        <br />
        <a
          class="link"
          href="http://www.new-minami.co.jp/access.php"
          target="_blank"
          rel="noopener noreferrer"
        >
          Official website
          <Icon name="mdi:external-link" />
        </a>
      </p>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:location" />
        <span>地図</span>
      </H3>
      <address class="address">
        グリーンヒルズニューみなみ<br />
        <small>〒401-0502</small><br />
        山梨県南都留郡山中湖村平野520-45
      </address>
      <div class="map">
        <MapFrame
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3251.386227659948!2d138.90715888007767!3d35.42046128383466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60196fc5496b2aef%3A0x9e2a7b3efb81ecc9!2z44Kw44Oq44O844Oz44OS44Or44K644OL44Ol44O844G_44Gq44G_!5e0!3m2!1sja!2sjp!4v1730725241056!5m2!1sja!2sjp"
        />
      </div>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    max-width: 600px;
    margin: auto;
    padding: 0 1.5em;
  }

  .address {
    font-style: normal;
    margin: 1em 0;
  }

  .map {
    margin: 2em -1.5em;
  }

  .link {
    text-decoration: underline;
  }
</style>

<script src="../../../scripts/bubble.ts"></script>
