---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "./_components/Footer.astro";
import H2 from "./_components/H2.astro";
import H3 from "./_components/H3.astro";
import Header from "./_components/Header.astro";
import Menu from "./_components/Menu.astro";
import logo from "./_assets/logo.webp";
---

<Layout
  title="お問い合わせ - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Contact Information</span>
      <span slot="ja">お問い合わせ</span>
    </H2>

    <section class="section">
      <H3>
        <Icon name="mdi:chat" />
        <span>LINE オープンチャット</span>
      </H3>
      <p>
        ご質問やお問い合わせは LINE
        オープンチャットにて受け付けております。ご不明な点がございましたら、お気軽にお問い合わせください。
      </p>

      <h4 class="h4">参加方法</h4>
      <p>
        下記のリンクから LINE
        アプリでオープンチャットを開き、参加コードを入力してご参加ください。
        <br />
        参加コード：<b>0333</b>
        <a
          href="https://line.me/ti/g2/wRs4XLjUaDXWW6Nm3MWHWFOMoDdaGgkZALeL8w"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
        >
          <span>
            LINE オープンチャット
            <Icon name="mdi:external-link" />
          </span>
        </a>
      </p>

      <h4 class="h4">オープンチャットとは</h4>
      <p>
        LINE
        オープンチャットは、アカウントを公開せずに参加ができる空間です。簡単にご利用いただけますので、お気軽にご利用ください。
      </p>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style is:global>
  .viewport {
    background: var(--color-text);
    color: var(--color-background);
  }
</style>

<style>
  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
    max-width: 600px;
    padding: 0 1.5em;
  }

  .h4 {
    font-size: 110%;
    font-weight: bolder;
    margin: 40px 0 0;
  }

  .link {
    display: flex;
    margin: 1em 0;
    justify-content: center;
    text-decoration: underline;
  }
</style>

<script src="../../../scripts/bubble.ts"></script>
