---
import Layout from "@/layouts/Layout.astro";
import ClippedImage from "@/components/ClippedImage.astro";
import SvgIcon from "@/components/SvgIcon.astro";
import TwoColumn from "@/components/TwoColumn.astro";
import logo from "./img/_logo.webp";
import minami1 from "./img/_minami-1.webp";
import minami2 from "./img/_minami-2.webp";

const linkTags = [
  {
    rel: "preconnect",
    href: "https://fonts.googleapis.com",
  },
  {
    rel: "preconnect",
    href: "https://fonts.gstatic.com",
    crossorigin: "",
  },
  {
    rel: "stylesheet",
    href: "https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap&text=テーマ起きよ！輝けイザヤ60:1",
  },
];
---

<Layout
  title="2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
  linkTags={linkTags}
>
  <header class="block">
    <h1 class="h1">
      <small>2025 第56回</small><br />
      JBBF全国青年フェローシップキャンプ
    </h1>
  </header>

  <main class="main">
    <section class="block theme">
      <div>
        <h2 class="theme-head">テーマ</h2>
        <p class="theme-text">『起きよ！輝け！』</p>
        <div class="theme-verse">イザヤ 60:1</div>
      </div>
    </section>

    <section>
      <TwoColumn>
        <ClippedImage src={minami1} alt="" shape="circle" slot="left" />

        <div slot="right">
          <h2>
            <span class="icon">
              <SvgIcon type="calender" />
            </span>
            Date
          </h2>
          <p>2025.05.05 - 2025.05.07</p>
        </div>
      </TwoColumn>
    </section>

    <section>
      <TwoColumn>
        <div slot="left">
          <h2>
            <span class="icon">
              <SvgIcon type="location" />
            </span>
            Location
          </h2>
          <p>
            グリーンヒルズニューみなみ<br />
            GREEN HILL'S NEW MINAMI
          </p>
          <p>
            <small>〒401-0502</small><br />
            山梨県南都留郡山中湖村平野520-45
          </p>
        </div>

        <ClippedImage src={minami2} alt="" shape="circle" slot="right" />
      </TwoColumn>
    </section>
  </main>

  <footer class="footer">
    <small class="footer-text">
      主催：仁戸名聖書バプテスト教会・幕張聖書バプテスト教会<br />
      協力：市原聖書バプテスト教会
    </small>
  </footer>
</Layout>

<style>
  body {
    background: black;
    transition: background-color 1s;
  }

  body.light {
    background: white;
    transition: background-color 2s linear;
  }

  .block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .h1 {
    color: gray;
    font-size: 2vw;
    margin: 0;
  }

  .main {
    font-size: 2vw;
  }

  .theme {
    color: black;
    font-family: "Yuji Syuku", serif;
    font-size: 3vw;
    min-height: 50vh;
    padding: 0 0 40vh;
    text-shadow: 0 0 40px white;
  }

  .theme-head {
    font-size: 50%;
    font-weight: normal;
    margin: 0;
  }

  .theme-text {
    margin: 8px 0;
  }

  .theme-verse {
    font-size: 50%;
    text-align: right;
  }

  .footer {
    padding: 25vh 1em 10vh;
    text-align: center;
  }

  .footer-text {
    font-size: 12px;
  }

  .icon {
    display: inline-block;
    height: 1em;
    vertical-align: -0.15em;
    width: 1em;
  }

  @media (max-width: 768px) {
    .main {
      font-size: 16px;
    }

    .h1 {
      font-size: 18px;
    }

    .theme {
      font-size: 32px;
    }
  }
</style>

<script>
  const scrollTarget = document.querySelector(".main");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && entry.target instanceof HTMLElement) {
          document.body.classList.add("light");
        } else {
          document.body.classList.remove("light");
        }
      });
    },
    { rootMargin: "0px 0px -50%" }
  );

  if (scrollTarget) {
    observer.observe(scrollTarget);
  }
</script>
