---
import Layout from "@/layouts/Layout.astro";
import lakeYamanaka from "./lake-yamanaka.webp";
---

<Layout title="2025 第56回JBBF全国青年フェローシップキャンプ">
  <header class="header">
    <h1 class="h1">
      <small>2025 第56回</small><br />
      JBBF全国青年フェローシップキャンプ
    </h1>
  </header>

  <main class="main">
    <div class="block theme">
      <section>
        <h2 class="head">テーマ</h2>
        <p class="text">起きよ。輝け。</p>
        <div class="verse">イザヤ 60:1</div>
      </section>
    </div>
  </main>

  <footer class="footer">
    <small>主催：仁戸名聖書バプテスト教会</small>
  </footer>
</Layout>

<style>
  body {
    background: black;
    transition: background-color 1s;
  }

  body.light {
    background: white;
    transition: background-color 2s linear;
  }

  .header {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .h1 {
    color: gray;
    font-size: 2vw;
    margin: 0;
  }

  .theme {
    color: black;
    font-size: 3vw;
    min-height: 50vh;
    text-shadow: 0 0 40px white;
  }

  .theme .head {
    font-size: 50%;
    font-weight: normal;
    margin: 0;
  }

  .theme .text {
    font-weight: bold;
    margin: 8px 0;
  }

  .theme .text::before {
    content: "『";
    margin: 0 4px 0 0;
  }

  .theme .text::after {
    content: "』";
    margin: 0 0 0 4px;
  }

  .theme .verse {
    font-size: 50%;
    text-align: right;
  }

  .footer {
    padding: 4em 0;
    text-align: center;
  }

  @media (max-width: 768px) {
    .h1 {
      font-size: 18px;
    }

    .theme {
      font-size: 32px;
    }
  }
</style>

<script>
  const scrollTarget = document.querySelector(".main");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && entry.target instanceof HTMLElement) {
          document.body.classList.add("light");
        } else {
          document.body.classList.remove("light");
        }
      });
    },
    { rootMargin: "-50% 0px" }
  );

  if (scrollTarget) {
    observer.observe(scrollTarget);
  }
</script>
