---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="2025 第56回JBBF全国青年フェローシップキャンプ">
  <div id="paper">
    <header>
      <h1>2025 第56回JBBF全国青年フェローシップキャンプ</h1>
    </header>

    <main></main>

    <footer><small>主催：仁戸名聖書バプテスト教会</small></footer>
  </div>
</Layout>

<style>
  body {
    padding: 80px 40px;
  }

  @media (max-width: 768px) {
    body {
      padding: 2em;
    }
  }
</style>
