---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import H3 from "@/components/2025/05/H3.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import logo from "@/assets/2025/05/logo.webp";
---

<Layout
  title="概要 - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Event Overview</span>
      <span slot="ja">概要</span>
    </H2>

    <section class="section">
      <H3>
        <Icon name="mdi:calendar-month-outline" />
        <span>日時</span>
      </H3>
      <p>
        <time datetime="2025-05-05/2025-05-07">
          2025年 5月 5日（月） - 7日（水）
        </time>
      </p>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:lectern" />
        <span>講師</span>
      </H3>
      <p>
        香港コーナーストーンバプテスト教会牧師<br />
        吉田正治宣教師
      </p>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:house-city" />
        <span>会場</span>
      </H3>
      <p>
        グリーンヒルズニューみなみ<br />
        <a
          class="link"
          href="http://www.new-minami.co.jp/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Official website
          <Icon name="mdi:external-link" />
        </a>
      </p>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:yen" />
        <span>参加費</span>
      </H3>
      <p>
        一般 <span class="amount">23,000</span> 円、 高校生 <span class="amount"
          >22,000</span
        > 円
      </p>
      <p>
        部分参加も可能です。お申込みの際、申込書で希望する食事および宿泊を選択いただき、金額をご確認ください。
      </p>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:bag-suitcase-outline" />
        <span>持ち物</span>
      </H3>
      <p>
        聖書、筆記用具、洗面用具、歯ブラシ、バスタオルやタオル、室内履き、動きやすい服装、常備薬、ご当地グルメ、その他宿泊に必要なものをお持ちください。洗濯用洗剤、歯ブラシ、シャンプー、リンスは販売機がございます。
      </p>
      <p>
        交わりの部屋で楽しいご当地グルメ会を開催予定です！あなたがおすすめの地域のお菓子を是非お持ちください♪
      </p>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
    max-width: 400px;
    padding: 0 1.5em;
  }

  .link {
    text-decoration: underline;
  }

  .amount {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
  }
</style>

<script src="../../../scripts/bubble.ts"></script>
