---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import H3 from "@/components/2025/05/H3.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import logo from "@/assets/2025/05/logo.webp";
---

<Layout
  title="概要 - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <section class="section">
      <H2>
        <span slot="en">Event Overview</span>
        <span slot="ja">概要</span>
      </H2>

      <H3>
        <Icon name="mdi:calendar-month-outline" />
        <span>Date - 日時</span>
      </H3>
      <p>
        2025年5月5日(月) - 7日(水) <br />
        May 22 (Mon) - May 23 (Wed), 2025
      </p>

      <H3>
        <Icon name="mdi:hoop-house" />
        <span>Venue - 会場</span>
      </H3>
      <p>
        グリーンヒルズニューみなみ<br />
        GREEN HILL'S NEW MINAMI<br />
        <a
          class="link"
          href="http://www.new-minami.co.jp/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Official website
          <Icon name="mdi:external-link" />
        </a>
      </p>

      <H3>
        <Icon name="mdi:lectern" />
        <span>Speaker - 講師</span>
      </H3>
      <p>
        香港コーナーストーンバプテスト教会牧師<br />
        吉田正治宣教師
      </p>

      <H3>
        <Icon name="mdi:bag-suitcase-outline" />
        <span>What to Bring - 持ち物</span>
      </H3>
      <p>
        洗濯用洗剤・歯ブラシ・シャンプー、リンスの販売機はありますが、洗面用具・タオル・バスタオル・ドライヤーなどは各自で用意して下さい。
      </p>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<script src="../../../scripts/bubble.ts"></script>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    max-width: 400px;
    margin: auto;
    padding: 0 1.5em;
  }

  .link {
    text-decoration: underline;
  }
</style>
