---
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import H3 from "@/components/2025/05/H3.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import logo from "@/assets/2025/05/logo.webp";
---

<Layout
  title="レクリエーション - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main bubble">
    <section class="section">
      <H2>
        <span slot="en">Recreation</span>
        <span slot="ja">レクリエーション</span>
      </H2>

      <H3>
        <Icon name="mdi:tennis" />
        <span>テニス</span>
      </H3>
      <p>
        ガチ勢同士が真剣勝負を繰り広げる！初心者も元テニス部出身のインストラクターが丁寧にサポートするので、安心してプレイできます。
      </p>

      <H3>
        <Icon name="mdi:badminton" />
        <span>バドミントン</span>
      </H3>
      <p>
        シングルスや混合ダブルスなど、多彩な組み合わせで楽しく競技を楽しめます。
      </p>
      <p>※ ラケットは各自ご持参ください</p>

      <H3>
        <Icon name="mdi:basketball" />
        <span>バスケットボール</span>
      </H3>
      <p>
        コートが2面あるため、男女に分かれてゲームが可能。バスケット好きの方も、最近プレイできていない方も、共に汗を流して盛り上がりましょう！
      </p>

      <H3>
        <Icon name="mdi:hiking" />
        <span>ハイキング</span>
      </H3>
      <p>
        初心者にも優しい90分のショートコース。富士山と山中湖を一望できる、山中湖屈指の絶景スポットへ。足腰を動かしながら、心も体もリフレッシュしませんか？
      </p>

      <H3>
        <Icon name="mdi:fishing" />
        <span>山中湖釣り体験</span>
      </H3>
      <p>
        釣り堀ではなく、広大な山中湖で本格的な釣りを体験。初心者も安心のインストラクターが、優しく丁寧に教えます。釣り体験をしてみたい方におすすめ。手ぶらで気軽に参加できます。
      </p>
      <p>※ 別途料金2500円が必要です</p>

      <H3>
        <Icon name="mdi:movie-roll" />
        <span>動画鑑賞</span>
      </H3>
      <p>
        ゆっくりと過ごしたい方にぴったり。鑑賞後は自由参加で、感想を語り合う時間も設けています。
      </p>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<script src="../../../scripts/bubble.ts"></script>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .section {
    max-width: 600px;
    margin: auto;
    padding: 0 1.5em;
  }

  .item {
    border: #ffffff80 solid 1px;
    border-radius: 8px;
    margin: 3em 0;
    padding: 1em 1.5em;
    position: relative;
  }

  .theme {
    background: var(--color-text);
    font-size: 110%;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0 0.5em;
    position: absolute;
    right: 1.5em;
    top: -0.75em;
  }

  .speaker {
    display: block;
    margin: 1em 0;
  }
</style>
