---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/2025/05/Footer.astro";
import H2 from "@/components/2025/05/H2.astro";
import H3 from "@/components/2025/05/H3.astro";
import Header from "@/components/2025/05/Header.astro";
import Menu from "@/components/2025/05/Menu.astro";
import logo from "@/assets/2025/05/logo.webp";
import speaker from "@/assets/2025/05/speaker.webp";
---

<Layout
  title="講師紹介 - 2025 第56回JBBF全国青年フェローシップキャンプ"
  favicon={logo.src}
>
  <Header />

  <main class="main">
    <section class="section">
      <H2>
        <span slot="en">Speaker Introduction</span>
        <span slot="ja">講師紹介</span>
      </H2>

      <div class="speaker">
        <Image src={speaker} alt="" width="0" height="0" />
      </div>

      <div class="title">
        <h3 class="name">吉田正治<small>宣教師</small></h3>
        <small>香港コーナーストーンバプテスト教会牧師</small>
      </div>

      <p>
        &#12302;
        2025年青年キャンプのメッセージを仰せつかりました、宣教師の吉田正治です。輝くような皆さんとご一緒できること、今からワクワクで待ちきれません!!皆さんがさらに輝きますように。力の限りお手伝いできますように。私のためにお祈りください。
        &#12303;
      </p>
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style>
  body {
    background: var(--color-text);
    color: var(--color-background);
  }

  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    max-width: 400px;
    margin: auto;
    padding: 0 1.5em;
  }

  .speaker {
    background: var(--color-subtext);
    border-radius: 50%;
    height: 280px;
    margin: 5vh auto;
    padding: 40px 0 0;
    overflow: hidden;
    text-align: center;
    width: 320px;
  }

  .title {
    text-align: center;
  }

  .name {
    font-size: 125%;
    margin: 0;
  }
</style>
