---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@/layouts/Layout.astro";
import Footer from "./_components/Footer.astro";
import H2 from "./_components/H2.astro";
import H3 from "./_components/H3.astro";
import Header from "./_components/Header.astro";
import Menu from "./_components/Menu.astro";
import Bracket from "@/components/Bracket.astro";
import QAList from "@/components/QAList.astro";
import logo from "./_assets/logo.webp";
import speaker1 from "./_assets/speaker1.webp";
import speaker2 from "./_assets/speaker2.webp";

const list = [
  { q: "出身地", a: "埼玉県戸田市生まれ、東京都板橋区育ち。" },
  { q: "中学、高校の部活は？", a: "ひたすら帰宅部。" },
  {
    q: "前職、職歴",
    a: "家庭用品の会社で2年半､ホテル関係の会社で3年と少し､同じ会社の貿易部門で1年と少し。合計約7年のサラリーマン生活。",
  },
  {
    q: "若い頃はどんな青年だった？",
    a: "軽佻浮薄、外見と読書に明け暮れて、仕事は二の次。休日の楽しみは大型バイクでツーリング。",
  },
  { q: "教会へ行ったきっかけ", a: "先に救われた妹に連れられて。" },
  { q: "救われた年齢", a: "29歳。" },
  {
    q: "好きな賛美",
    a: "賛美はほとんど全て好きで、甲乙付け難いですが、一曲選ぶとすれば､「ああ驚くべきイエスの愛よ」かな。",
  },
  { q: "好きな聖句", a: "マタイ 6:33 は私の生涯のみ言葉です。" },
  { q: "好きな食べ物", a: "うどん、そば、桃。" },
  { q: "趣味", a: "テレビスポーツ観戦。" },
  { q: "休日の過ごし方", a: "妻とデート。" },
];
---

<Layout title="講師紹介 - 2025 第56回JBBF全国青年フェローシップキャンプ" favicon={logo.src}>
  <Header />

  <main class="main bubble">
    <H2>
      <span slot="en">Speaker Introduction</span>
      <span slot="ja">講師紹介</span>
    </H2>

    <div class="speaker-image">
      <Image src={speaker1} alt="" />
    </div>

    <section class="section">
      <div class="title">
        <h3 class="name">吉田正治<small>宣教師</small></h3>
        <small>香港コーナーストーンバプテスト教会牧師</small>
      </div>

      <div class="message">
        <Bracket>
          2025年青年キャンプのメッセージを仰せつかりました、宣教師の吉田正治です。輝くような皆さんとご一緒できること、今からワクワクで待ちきれません!!皆さんがさらに輝きますように。力の限りお手伝いできますように。私のためにお祈りください。
        </Bracket>
      </div>
    </section>

    <section class="section">
      <H3>
        <Icon name="mdi:account-box-outline" />
        <span>プロフィール</span>
      </H3>

      <Image src={speaker2} alt="" class="image" />

      <QAList list={list} />
    </section>
  </main>

  <Footer />
  <Menu />
</Layout>

<style is:global>
  body .viewport {
    background: var(--color-text);
    color: var(--color-background);
  }
</style>

<style>
  .main {
    overflow: hidden;
    position: relative;
  }

  .section {
    margin: auto;
    max-width: 600px;
    padding: 0 1.5em;
  }

  .speaker-image {
    background: var(--color-subtext);
    border-radius: 50%;
    height: 280px;
    margin: 2em auto;
    padding: 40px 0 0;
    overflow: hidden;
    text-align: center;
    width: 320px;
  }

  .title {
    text-align: center;
  }

  .name {
    font-size: 125%;
    margin: 0;
  }

  .message {
    margin: 2em 0;
  }

  .image {
    border-radius: 8px;
    display: block;
    margin: 1em auto 2em;
  }
</style>

<script src="../../../scripts/bubble.ts"></script>
