---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import EventDetailTable from "@/components/EventDetailTable.astro";
import MapFrame from "@/components/MapFrame.astro";
import hero from "./simple-resurrection-theme.webp";
import qr202402 from "./qr-202402.png";

const title = "京葉地区合同青年会のご案内";
const eventDetails = {
  caption: "記",
  rows: [
    { th: "日時", td: "2024年2月25日（日）15:30 - 18:00" },
    { th: "会場", td: "辺田町内会館 つどいの館（駐車場有）" },
    { th: "講師", td: "堺希望伝道師（葛西BBC）" },
    { th: "参加費", td: "無料" },
    { th: "懇親会", td: "1500円（終了後に希望者のみ）" },
    { th: "申込期限", td: "2024年2月18日（日）" },
  ],
};
---

<Layout title={title}>
  <div id="paper">
    <header>
      <h1>{title}</h1>
      <p>
        再開と復活<br />
        ~さらなる導きに期待しよう~
      </p>

      <div class="mobile img">
        <img src={hero.src} alt="" />
      </div>
    </header>

    <main>
      <div>
        <p>
          主の御名を賛美します。京葉地区合同青年会へのご案内を申し上げます。
        </p>
        <p>
          この時間を通じて、互いに励まし合い、信仰の旅路において共に成長していくことを心から願っています。主に在りて。
        </p>
      </div>

      <EventDetailTable {...eventDetails} />

      <hr />

      <dl>
        <dt>申し込み</dt>
        <dd class="print">
          次の QR コードより、Web フォームからお申し込みください。<br />
          お1人づつお申し込みをお願いいたします。
          <span class="qr">
            <img src={qr202402.src} alt="" />
          </span>
        </dd>
        <dd class="mobile">
          次のリンクより、Web
          フォームからお申し込みください。お1人づつお申し込みをお願いいたします。
          <ButtonLink
            href="https://form.nitonabbc.org/#/entry/202402"
            target="_blank"
          >
            参加申し込み
          </ButtonLink>
        </dd>

        <dt>プログラム</dt>
        <dd>15:30〜 レク・交わり、16:50〜 集会、18:00終了予定となります。</dd>

        <dt>懇親会について</dt>
        <dd>
          交わり会の終了後、19:30頃まで懇親会を予定しています。軽食を用意いたしますので、参加費はお1人1500円となります。お時間の許す方は是非ご参加ください。
        </dd>

        <dt>会場</dt>
        <dd>
          広い駐車場がありますので、お車でのご参加も可能です。<br />
          <span class="print">
            〒266-0007 千葉県千葉市緑区辺田町2024-1 辺田町内会館 つどいの館
          </span>

          <div class="mobile">
            <MapFrame
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1622.6749047559663!2d140.17995532199188!3d35.569756844227!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60229bc01aa9b51d%3A0x4eca36d4487bef98!2z6L6655Sw55S65YaF5Lya6aSoIOOBpOOBqeOBhOOBrumkqA!5e0!3m2!1sja!2sjp!4v1700900318499!5m2!1sja!2sjp"
            />
          </div>
        </dd>

        <dt>お問い合わせ</dt>
        <dd class="print">
          次の QR コードより、LINE オープンチャットにてお問い合わせください。<br
          />
          <strong>参加コード:0333</strong>
          <span class="qr">
            <img src="/qr-openchat-keiyo.webp" alt="" />
          </span>
        </dd>
        <dd class="mobile">
          次のリンクより、LINE オープンチャットにてお問い合わせください。<br />
          <strong>参加コード：0333</strong>
          <ButtonLink
            href="https://line.me/ti/g2/WYr1mnNiAIT7mb_pyn2T5JoEMcZXyGUPchf7IA"
            target="_blank"
          >
            LINE オープンチャット
          </ButtonLink>
        </dd>
      </dl>
    </main>

    <footer><small>主催：仁戸名聖書バプテスト教会</small></footer>
  </div>
</Layout>

<style>
  body {
    font-size: 14px;
    padding: 80px 40px;
  }

  #paper {
    background: white;
    border-radius: 2px;
    box-shadow: gray 0 2px 4px;
    box-sizing: border-box;
    height: 297mm;
    margin: auto;
    padding: 4em 0;
    position: relative;
    width: 210mm;
  }

  .print {
    display: block;
  }

  .mobile {
    display: none;
  }

  header {
    text-align: center;
  }

  h1 {
    font-size: 125%;
    letter-spacing: 0.1em;
    margin: 1em 0;
    text-align: center;
  }

  header > .img {
    height: 250px;
    margin: auto;
    width: 250px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    max-width: 70%;
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: bolder;
    margin: 0 0 0.5em;
  }

  dd {
    margin: 0 0 1.5em;
    position: relative;
  }

  dd > .qr {
    bottom: 0;
    height: 80px;
    position: absolute;
    right: 0;
    width: 80px;
  }

  footer {
    padding: 4em 0;
    text-align: center;
  }

  @media (max-width: 768px), print {
    body {
      padding: 2em;
    }

    #paper {
      background: none;
      box-shadow: none;
      height: auto;
      margin: 0;
      padding: 0;
      width: auto;
    }

    #print {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .print {
      display: none;
    }

    .mobile {
      display: block;
    }

    header {
      padding: 15vh 0;
    }

    main {
      max-width: none;
    }

    footer {
      padding: 25vh 0 0;
    }
  }

  @media print {
    @page {
      margin: 0;
    }

    html {
      background: none;
      font-size: 10pt;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }

    .print {
      display: block;
    }

    .mobile {
      display: none;
    }

    header {
      padding: 20px 0 0;
    }

    main {
      max-width: 70%;
    }

    footer {
      padding: 2em 0;
    }

    h1 {
      font-family: "Times New Roman", "Yu Mincho", serif;
    }
  }
</style>
