---
import { Icon } from "astro-icon/components";

type Props = {
  icon?: string;
};

const { icon } = Astro.props;
---

<h3 class="h3">
  {icon && <Icon name={icon} />}
  <span><slot /></span>
</h3>

<style>
  .h3 {
    align-items: center;
    color: var(--color-primary);
    display: flex;
    font-size: 120%;
    gap: 0.25em;
    letter-spacing: 0.05em;
    margin: 2em 0 0;
  }
</style>
