---
import { Image } from "astro:assets";

type Props = {
  src: ImageMetadata;
  alt?: string;
  shape?: "rect" | "polygon" | "circle" | "ellipse";
};

const { src, alt = "", shape = "rect" } = Astro.props;
---

<div class:list={["clipped-image", shape]}>
  <Image src={src} alt={alt} class="image" aria-hidden={alt ? "false" : "true"} />
</div>

<style>
  .rect {
    border-radius: 12px;
  }

  .polygon {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  .circle {
    clip-path: circle(40%);
  }

  .ellipse {
    clip-path: ellipse(50% 50% at center);
  }

  .clipped-image {
    overflow: hidden;
  }

  .image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
</style>
