---
type Props = {
  caption: string;
  rows: { th: string; td: string }[];
};

const { caption, rows } = Astro.props;
---

<table class="table">
  <caption class="caption">{caption}</caption>
  {
    rows.map(({ th, td }) => (
      <tr>
        <th class="th">{th}</th>
        <td class="td">{td}</td>
      </tr>
    ))
  }
</table>

<style>
  .table {
    border-collapse: collapse;
    margin: 1em auto;
  }

  .caption {
    margin: 0 0 0.5em;
  }

  .th {
    font-weight: normal;
    padding: 0.25em 0;
    text-align: left;
    vertical-align: top;
  }

  .td {
    padding: 0.25em 0;
  }

  .td::before {
    content: "：";
    margin: 0 0.5em 0 0;
  }
</style>
