<template>
  <form>
    <h1>京葉地区青年交わり会参加申込</h1>

    <div class="date"><span>開催日</span>2024年2月25日</div>

    <section>
      <label class="input-label">
        <div>
          <input
            type="text"
            name="church"
            maxlength="128"
            pattern=""
            placeholder=""
            required
          />
          <span class="title">教会名</span>
        </div>
      </label>

      <label class="input-label">
        <div>
          <input
            type="text"
            name="church"
            maxlength="128"
            pattern=""
            placeholder=""
            required
          />
          <span class="title">氏名</span>
        </div>
      </label>

      <div class="column">
        <span>
          <label class="input-label">
            <div>
              <input
                type="text"
                name="church"
                maxlength="128"
                pattern=""
                placeholder=""
                required
              />
              <span class="title">年齢</span>
            </div>
          </label>
        </span>

        <span>
          <label class="input-label">
            <div>
              <input
                type="text"
                name="church"
                maxlength="128"
                pattern=""
                placeholder=""
                required
              />
              <span class="title">性別</span>
            </div>
          </label>
        </span>
      </div>

      <label class="input-label">
        <div class="column">
          <span>
            <div class="radio">
              <input type="radio" name="church" checked required />
              <span class="symbol">非教会員</span>
            </div>
          </span>

          <span>
            <div class="radio">
              <input type="radio" name="church" required />
              <span class="symbol">教会員</span>
            </div>
          </span>

          <span>
            <div class="radio">
              <input type="radio" name="church" required />
              <span class="symbol">指導者</span>
            </div>
          </span>
        </div>
      </label>
    </section>

    <div class="submit">
      <button class="button-outlined">送信</button>
    </div>
  </form>
</template>
