---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <div id="paper">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --color-background: #ebebeb;
    --color-primary: #566df0;
    --color-text: #282928;
    --color-subtext: #7d807d;
    --color-accent: #f0566e;
    --color-divider: #4b4d4b;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-background);
    text-shadow: none;
  }

  html {
    background: var(--color-background);
    font:
      14px/1.5 -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Helvetica,
      "Noto Sans JP",
      "Yu Gothic",
      sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    padding: 80px 40px;
  }

  #paper {
    background: white;
    border-radius: 2px;
    box-shadow: gray 0 2px 4px;
    box-sizing: border-box;
    height: 297mm;
    margin: auto;
    padding: 4em 0;
    position: relative;
    width: 210mm;
  }

  .print {
    display: block;
  }

  .mobile {
    display: none;
  }

  header {
    text-align: center;
  }

  h1 {
    font-size: 125%;
    letter-spacing: 0.1em;
    margin: 1em 0;
    text-align: center;
  }

  header > .img {
    height: 250px;
    margin: auto;
    width: 250px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    max-width: 70%;
  }

  p {
    font-feature-settings: "palt";
    letter-spacing: 0.1em;
    margin: 1em 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  strong {
    color: var(--color-accent);
  }

  img {
    max-width: 100%;
    vertical-align: top;
  }

  hr {
    border: 0;
    margin: 1em 0;
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: bolder;
    margin: 0 0 0.5em;
  }

  dd {
    margin: 0 0 1.5em;
    position: relative;
  }

  dd > .qr {
    bottom: 0;
    height: 80px;
    position: absolute;
    right: 0;
    width: 80px;
  }

  iframe {
    border: 0;
    height: 40vh;
    margin: 1em 0;
    width: 100%;
  }

  footer {
    padding: 4em 0;
    text-align: center;
  }

  @media (max-width: 768px), print {
    body {
      padding: 2em;
    }

    #paper {
      background: none;
      box-shadow: none;
      height: auto;
      margin: 0;
      padding: 0;
      width: auto;
    }

    #print {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .print {
      display: none;
    }

    .mobile {
      display: block;
    }

    header {
      padding: 15vh 0;
    }

    main {
      max-width: none;
    }

    footer {
      padding: 25vh 0 0;
    }
  }

  @media print {
    @page {
      margin: 0;
    }

    html {
      background: none;
      font-size: 10pt;
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }

    .print {
      display: block;
    }

    .mobile {
      display: none;
    }

    header {
      padding: 20px 0 0;
    }

    main {
      max-width: 70%;
    }

    footer {
      padding: 2em 0;
    }

    h1 {
      font-family: "Times New Roman", "Yu Mincho", serif;
    }
  }
</style>
