---
import "@/styles/global.css";

type LinkTag = {
  rel: string;
  href: string;
  type?: string;
  sizes?: string;
};

type Props = {
  title: string;
  favicon?: string;
  linkTags?: LinkTag[];
};

const { title, favicon, linkTags } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>

    {linkTags && linkTags.map((linkTag) => <link {...linkTag} />)}
  </head>
  <body>
    <div class="viewport">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    background: var(--color-text);
  }

  .viewport {
    background: var(--color-background);
    color: var(--color-text);
  }
</style>
